html {overflow: hidden;}
body {color:#fff; font-family: 'nanum-myeongjo'; padding:0; margin:0; width: 100vw; height: 100vh;}
body {background-color:#000;}
canvas {background-color:#2f3437;}
.center {left: 50%; top: 50%; transform: translate(-50%, -50%); position:absolute;}

.bg {background-color:#2f3437; width:1080px; height:1080px; position:relative; margin:0 auto;}
.txt {border: none; color:#fff; font-size: 41.67px; background-color: transparent; position:relative; left:50%; top:50%; transform:translate(-50%, -50%); font-family: 'nanum-myeongjo'; width:fit-content; line-height:73px; min-width: 20px;}
.who {font-size:16.67px; opacity: 0.3; color:#fff; position: absolute; bottom:12px; right:20px; margin:0;}
.valign {display:table; width:100%; height:100%;}
.valign .middle{display:table-cell; vertical-align:middle}

ul, li {list-style: none;}
p {margin:0;}
/* @font-face {
    font-family: 'nanum-myeongjo';
    src: url('./nanum-myeongjo/NanumMyeongjo.otf') format('otf'),
        url('./nanum-myeongjo/NanumMyeongjo.ttf') format('truetype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'ChosunGu';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunGu.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'ChosunBg';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@1.0/ChosunBg.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'Chosunilbo_myungjo';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/Chosunilbo_myungjo.woff') format('woff');
    font-weight: normal;
    font-style: normal;
} */